*.save
.vscode
js/*.bak
js/*.backup
js/*.backups
js/*.backed
js/*.defaulted
js/default_original1.js
js/*.baks
js/*.baked
models/
checkPlager.php
Customsearch.php
checkcaptcha.php
modal.html
include/
cookie/
error.php
